# Python
__pycache__/
*.pyc
*.pyo

# Virtual env
venv/
.env

# Models
*.pkl

# Cache
.cache/
huggingface/
*.cache

# OS files
.DS_Store
Thumbs.db

# Logs
*.log

# VS Code
.vscode/

# Large files
*.zip
*.tar